/* Import font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* calendar.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
}

/* Fix whole content, no scrolling */
.toastui-calendar-timegrid {
  height: 100%;
  min-height: fit-content;
}

.toastui-calendar-weekday-event-title {
  color: #fff !important;
}
